@import 'scss/header';
@import 'scss/variables';

header{
    width: 100%;
    padding: 15px;
    background-color: $color;
}

h1{
    text-align: center;
    color: $color1;

}

li{
    list-style: none;
}

.MenuRight-nav_ul {
    display: flex;
    color: $color2;
    justify-content: flex-end;

}

.MenuRight-nav_li{
    padding: $paddingMenu-Desktop;
}

body .container{
    width: $widhtDesktop;
    margin: 0 auto;
}